@page "/servers/edit/{id:int}"

<h3>EditServer</h3>


<EditForm Enhance="true" FormName="server" Model="server" OnSubmit="SaveUpdate">
        <div class="row mb-3">
            <InputNumber class="form-control" @bind-Value="server.Id" hidden />
      
            <div class="col-2">
                <label class="col-form-label">Name</label>
            </div>
            <div class="col-6 input-width">
            <InputText class="form-control" @bind-Value="server.Name" />
            </div>
        </div>
         <div class="row mb-3">
            <div class="col-2">
                <label class="col-form-label">City</label>
            </div>
            <div class="col-6 input-width">
            <InputText class="form-control" @bind-Value="server.City" />
            </div>
         </div>
            
        <div class="row mb-3">
            <div class="col-2">
                <label class="col-form-label">Is Online</label>
            </div>
            <div class="col-6">
            <InputCheckbox class="form-check" @bind-Value="server.IsOnline" />
            </div>
        </div>
        <br />
        <button class="btn btn-primary" type="submit"> Submit</button>
        &nbsp;
        <a href="/servers" class="btn btn-primary">Close</a>
</EditForm>


@code {
    [Parameter]
    public int Id { get; set; }

    [SupplyParameterFromForm]
    private Server? server { get; set; }

    protected override void OnParametersSet()
    {
        if(server == null)
        server  = ServersRepository.GetServerById(Id)?? new Server();
    }

    private void SaveUpdate()
    {
        if (server.Id != 0)
        {
            ServersRepository.UpdateServer(server.Id,server);
        }
        else
        {
            ServersRepository.AddServer(server);
        }
    }
}
