@page "/servers/edit/{id:int}"

<EditForm Enhance="true" FormName="server" Model="server" OnSubmit="SaveUpdate">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>
    <FieldComponent Label="Name">
        <Control>
            <InputText class="form-control" @bind-Value="server.Name" />
        </Control>
        <ValidationControl>
            <ValidationMessage For="()=>server.Name"></ValidationMessage>
        </ValidationControl>
    </FieldComponent>
    <FieldComponent Label="City">
        <Control>
            <InputText class="form-control" @bind-Value="server.City" />
        </Control>
        <ValidationControl>
            <ValidationMessage For="() => server.City"></ValidationMessage>
        </ValidationControl>
    </FieldComponent>
    <FieldComponent Label="Is Online">
        <Control>
            <InputCheckbox class="form-check" @bind-Value="server.IsOnline" />
        </Control>
    </FieldComponent>
    <br />
    <button class="btn btn-primary" type="submit"> Submit</button>
    &nbsp;
    <a href="/servers" class="btn btn-primary">Close</a>
</EditForm>


@code {
    [Parameter]
    public int Id { get; set; }

    [SupplyParameterFromForm]
    private Server? server { get; set; }

    protected override void OnParametersSet()
    {
        if(server == null)
        server  = ServersRepository.GetServerById(Id)?? new Server();
    }

    private void SaveUpdate()
    {
        if (server.Id != 0)
        {
            ServersRepository.UpdateServer(server.Id,server);
        }
        else
        {
            ServersRepository.AddServer(server);
        }
    }
}
