@page "/servers"
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<h3>Server</h3>
<br />
<br />


<CityListComponent 
    @ref="cityListComponent" 
    SelectCityCallback="HandleCitySelection">
</CityListComponent>

<br />

<SearchBarComponent 
    SearchServerCallback="HandleSearchServer"
    @ref="searchBarComponent">
</SearchBarComponent>

<br />

<CascadingValue Name="SelectedCity" Value="@selectedCity">
    <ServerListComponent 
        @rendermode="InteractiveServer"
        CityName="@this.selectedCity" 
        SearchFilter="@searchFilter">
    </ServerListComponent>
</CascadingValue>

<a class="btn btn-primary" href="/servers/edit/0">Add Server</a>


@code {
    private string selectedCity = "Toronto";

    private string searchFilter = "";

    private CityListComponent? cityListComponent;
    private SearchBarComponent? searchBarComponent;

    private void HandleCitySelection(string cityName)
    {
        this.selectedCity = cityName;
        this.searchFilter = string.Empty;
        searchBarComponent?.ClearSelection();
    }
    private void HandleSearchServer(string searchFilter)
    {
        this.searchFilter = searchFilter;
        cityListComponent?.ClearSelection();
    }
}
